@import '../../App.scss';

nav {
    height: 100vh;
    width: 10vw;
    padding: 1rem 0rem;
    position: fixed;
    z-index: 3;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: .5rem;
    justify-items: center;
    align-items: center;

    #nav-label {
        margin-top: 6rem;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: .5rem;
        justify-items: center;
        align-items: center;

        #nav-menu {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
        }

        #nav-polygon {
            align-self: flex-end;
        }

        h2 {
            margin-top: 3rem;
            font-weight: 200;
            color: #B8BCBE;
            transform: rotate(270deg);
            text-transform: capitalize;
        }
    }

    #nav-arrows {
        align-self: flex-end;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        grid-row-gap: .5rem;

        * {
            cursor: pointer;
        }
    }
}